<html>
    <head>
        <title>Math Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='math.css') }}">
    </head>
    <body>
        <div class="modal-header">
                    <h2>Math Quiz</h2>
                    <br>
                </div>
        <div class="options">
            <button class="start">Start</button>
            <button class="add">Add</button>
        </div>
        
        
        <modal>
            <div class="modal_start">
                
                <div class="modal-body_start"></div>
                    <div class="modal-content_start">

                        <hr>
                        <p>This is a modal for math operations.</p>
                        <p> Here are the questions:</p>
                    <p>Difficulty level:
                    <select>
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                    </p>
                    <hr>
                    <p class="question">here is where the questions go.</p>
                    <p>Answer:
                    <input type="text" class="answer-input"></p>
                    
                    <div class="modal-footer_start">
                    <button class="submit-answer">Submit Answer</button>
                    <button class="close-modal">Close</button>
                    </div>
                </div>
            </div>
        </modal>
        <modal>
            <div class="modal_add">
                <div class="modal-body_add">
                    <h4>This is where you add the questions, Please select the difficulty and enter the code in the space below</h4>
                    <p>Question  </p><input type="text" class="question-input">
                    <select class="difficulty-select">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                    <br>
                    <p>Answer  </p><input type="text" class="answer-input">
                    <div class="modal-footer_add">
                        <button class="submit-question">Submit Question</button>
                        <button class="close-modal">Close</button>
                    </div>
                </div>
                
            </div>
        </modal>
        <script src="{{ url_for('static', filename='math.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </body>
</html>